<section class="castContainer">
  <article class="castCard" *ngFor="let actor of cast">

    <img class="actorImage" [src]="actor.person.image?.original" alt="{{ actor.person.name }}">

    <div class="actorInfo">
      <h3>{{ actor.person.name }}</h3>

      <p class="actorCountry">
       <span class="blueLetter">{{ 'country' | transloco }} </span> :
        {{ ('countries.' + actor.person.country?.name) | transloco }}
      </p>

      <p class="actorTimezone">
        <span class="blueLetter">{{ 'timezone' | transloco }} </span>:
        {{ actor.person.country?.timezone }}
      </p>

      <p class="actorBirthday">
       <span class="blueLetter">{{ 'birthday' | transloco }}</span> :
        {{ actor.person.birthday }}
      </p>

      <a class="actorBtn" [href]="actor.person.url" target="_blank">
        {{ 'view_profile' | transloco }}
      </a>
    </div>

  </article>
</section>