<section class="episodesList">

  <img class="imgEpisode" [src]="episode.image.original" alt="{{ episode.name }}">

  <div class="episodeInfo">

    <p class="episodeTitle">{{ episode.name }}</p>

    <div class="episodeData">
      <span class="info"><span class="blueLetter">{{ 'duration' | transloco }}</span>: {{ episode.runtime }} {{ 'minutes' | transloco }}</span>
      <span class="info"><span class="blueLetter">{{ 'date' | transloco }}</span>: {{ episode.airdate }}</span>
      <span class="info"><span class="blueLetter">{{ 'time' | transloco }}</span>: {{ episode.airtime }}</span>
    </div>

     <p class="episodeSummary" [innerHTML]="episode.summary"></p>


     <div class="button">
    <a class="episodeButton" [href]="episode.url" target="_blank">
      ▶ {{ 'view_episode' | transloco }}
    </a>
    </div>
  </div>
</section>